dotenv
wheel
fastapi
uvicorn[standard]
sentence-transformers>=2.2.2
transformers
torch            # or torch-cpu if you want cpu-only wheel
pillow
faiss-cpu
requests
python-multipart
pydantic
motor           # async Mongo driver (optional)
pymongo
numpy
pandas
pytz
onnxruntime
scikit-learn
scikit-image
webcolors
opencv-python-headless
rembg
sentencepiece
open_clip_torch
huggingface_hub==0.36.0
psutil
hf-xet==1.2.0